*{
    margin: 0;
    padding:0;
}
#banner{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.748),rgba(0, 0, 0, 0.721)),url(background.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.heading{
    display: flex;
    justify-content: center;
    margin-top: 12%;
    align-content: center;
    align-items: center;
}
.main-heading{
    color: white;
    text-align: center;
    font-weight: 400;
    align-items: center;
}
.title{
    font-size: 45px;
    margin-top: -11px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100px;
    font-weight:bold;
    line-height: 100px;
}
#slider{
    margin-left:12px ;
    color: #28a745;
    box-sizing: border-box;
    animation: slider 5s linear infinite;
}
@keyframes slider{
    0% {margin-top: -400px;}
    5% {margin-top: -200px;}
    30% {margin-top: -200px;}
    35% {margin-top: 0px;}
    65% {margin-top: 0px;}
    70% {margin-top: 200px;}
    100% {margin-top: 200px;}
}

