*{
    margin: 0;
    padding:0;
}
header {
    height: 400px;
    width: 100%;
    background: rgba(0, 0, 0, 0.74);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    overflow-y: hidden;
    position: fixed;
}
.img {
   object-fit: cover;
   opacity: 0.4;
}
.centered {
    color: white;    
    font-weight: 500;
    font-size: 5.5vw;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.svg{
    width: 50px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -250%);
    animation: updown 1.3s linear infinite alternate;
}
@keyframes updown{
    0%{top: 0px;}
    25%{top:20px}
    50%{top: 40px;}
    75%{top: 20px;}
    100%{top:0px;}
}
.content{
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
}
#card-head{
    margin-top: 5rem;
}
#card{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    transition: transform,box-shadow,0.75s;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
    border-color: lightgray; 
}
.card-body{
    text-align: center;
}
.card-text{
    text-align: start;
}
.forms{
    align-items: center;
    justify-items: center;
    margin: 30px 20% 40px 20%;
    background: rgba(236, 236, 236, 0.238);
    padding: 15px;
    border-radius: 15px;
    transition: 1s;
}
.forms:hover{
    transform: scale(1.05);
}
@media only screen and (max-width: 768px){
    [id*="card"]{
        display: flex;
        flex-direction: column;
    }
    [class*="resp"]{
        margin: 1.5rem;
    }
    [id*="brand"]{
        margin-left: -70%;
    }
    [class*="h1"]{
        font-size: 5vw;
        
    }
    [class*="forms"]{
        margin: 30px 15% 30px 15%;
    }

}